In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('AWS_hacking.csv')

In [3]:
df.head()

,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude,Unnamed: 15
0,3/3/13 21:53,groucho-oregon,1032051418,TCP,NaN,6000.0,1433.0,61.131.218.218,CN,China,Jiangxi Sheng,36,NaN,28.5500,115.9333,NaN
1,3/3/13 21:57,groucho-oregon,1347834426,UDP,NaN,5270.0,5060.0,80.86.82.58,DE,Germany,NaN,NaN,NaN,51.0000,9.0000,NaN
2,3/3/13 21:58,groucho-oregon,2947856490,TCP,NaN,2489.0,1080.0,175.180.184.106,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,NaN
3,3/3/13 21:58,groucho-us-east,841842716,UDP,NaN,43235.0,1900.0,50.45.128.28,US,United States,Oregon,OR,97124,45.5848,-122.9117,NaN
4,3/3/13 21:58,groucho-singapore,3587648279,TCP,NaN,56577.0,80.0,213.215.43.23,FR,France,NaN,NaN,NaN,48.8600,2.3500,NaN

In [4]:
df.shape

(451581, 16)

In [5]:
df.isna().sum()

datetime            0
host                0
src                 0
proto               0
type           406770
spt             44811
dpt             44811
srcstr              0
cc               3596
country          3634
locale         109469
localeabbr     119876
postalcode     365103
latitude         3469
longitude        3428
Unnamed: 15    451498
dtype: int64

In [6]:
new = df['host'].str.split("-", n = 1, expand = True)

In [7]:
new

              0          1
0       groucho     oregon
1       groucho     oregon
2       groucho     oregon
3       groucho    us-east
4       groucho  singapore
...         ...        ...
451576  groucho     oregon
451577  groucho         eu
451578  groucho     oregon
451579  groucho      tokyo
451580  groucho      tokyo

[451581 rows x 2 columns]

In [8]:
df['target'] = new[1]

In [9]:
df

,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude,Unnamed: 15,target
0,3/3/13 21:53,groucho-oregon,1032051418,TCP,NaN,6000.0,1433.0,61.131.218.218,CN,China,Jiangxi Sheng,36,NaN,28.5500,115.9333,NaN,oregon
1,3/3/13 21:57,groucho-oregon,1347834426,UDP,NaN,5270.0,5060.0,80.86.82.58,DE,Germany,NaN,NaN,NaN,51.0000,9.0000,NaN,oregon
2,3/3/13 21:58,groucho-oregon,2947856490,TCP,NaN,2489.0,1080.0,175.180.184.106,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,NaN,oregon
3,3/3/13 21:58,groucho-us-east,841842716,UDP,NaN,43235.0,1900.0,50.45.128.28,US,United States,Oregon,OR,97124,45.5848,-122.9117,NaN,us-east
4,3/3/13 21:58,groucho-singapore,3587648279,TCP,NaN,56577.0,80.0,213.215.43.23,FR,France,NaN,NaN,NaN,48.8600,2.3500,NaN,singapore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451576,9/8/13 5:54,groucho-oregon,1922977453,TCP,NaN,62175.0,445.0,114.158.78.173,JP,Japan,Tokyo-to,13,NaN,35.6850,139.7514,NaN,oregon
451577,9/8/13 5:50,groucho-eu,1017974360,TCP,NaN,6000.0,8090.0,60.173.14.88,CN,China,Anhui Sheng,34,NaN,31.8639,117.2808,NaN,eu
451578,9/8/13 5:55,groucho-oregon,3234358955,TCP,NaN,6000.0,1433.0,192.200.102.171,US,United States,California,CA,90017,34.0530,-118.2642,NaN,oregon
451579,9/8/13 5:55,groucho-tokyo,28142724,TCP,NaN,3555.0,445.0,1.173.108.132,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,NaN,tokyo
451580,9/8/13 5:55,groucho-tokyo,28142724,TCP,NaN,3555.0,445.0,1.173.108.132,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,NaN,tokyo

In [10]:
df.drop(['host'], axis = 1, inplace = True)

In [11]:
df.columns

Index(['datetime', 'src', 'proto', 'type', 'spt', 'dpt', 'srcstr', 'cc',
       'country', 'locale', 'localeabbr', 'postalcode', 'latitude',
       'longitude', 'Unnamed: 15', 'target'],
      dtype='object')

In [12]:
df.drop(['src', 'proto', 'type', 'spt', 'dpt', 'srcstr','Unnamed: 15'], axis = 1, inplace = True)

In [13]:
df

,datetime,cc,country,locale,localeabbr,postalcode,latitude,longitude,target
0,3/3/13 21:53,CN,China,Jiangxi Sheng,36,NaN,28.5500,115.9333,oregon
1,3/3/13 21:57,DE,Germany,NaN,NaN,NaN,51.0000,9.0000,oregon
2,3/3/13 21:58,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,oregon
3,3/3/13 21:58,US,United States,Oregon,OR,97124,45.5848,-122.9117,us-east
4,3/3/13 21:58,FR,France,NaN,NaN,NaN,48.8600,2.3500,singapore
...,...,...,...,...,...,...,...,...,...
451576,9/8/13 5:54,JP,Japan,Tokyo-to,13,NaN,35.6850,139.7514,oregon
451577,9/8/13 5:50,CN,China,Anhui Sheng,34,NaN,31.8639,117.2808,eu
451578,9/8/13 5:55,US,United States,California,CA,90017,34.0530,-118.2642,oregon
451579,9/8/13 5:55,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,tokyo
451580,9/8/13 5:55,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,tokyo

In [14]:
new2 = df['datetime'].str.split(" ", n = 1, expand = True)

In [15]:
df['date'] = new2[0]

In [16]:
df.drop(['datetime'], axis = 1, inplace = True)

In [17]:
df

,cc,country,locale,localeabbr,postalcode,latitude,longitude,target,date
0,CN,China,Jiangxi Sheng,36,NaN,28.5500,115.9333,oregon,3/3/13
1,DE,Germany,NaN,NaN,NaN,51.0000,9.0000,oregon,3/3/13
2,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,oregon,3/3/13
3,US,United States,Oregon,OR,97124,45.5848,-122.9117,us-east,3/3/13
4,FR,France,NaN,NaN,NaN,48.8600,2.3500,singapore,3/3/13
...,...,...,...,...,...,...,...,...,...
451576,JP,Japan,Tokyo-to,13,NaN,35.6850,139.7514,oregon,9/8/13
451577,CN,China,Anhui Sheng,34,NaN,31.8639,117.2808,eu,9/8/13
451578,US,United States,California,CA,90017,34.0530,-118.2642,oregon,9/8/13
451579,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,tokyo,9/8/13
451580,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,tokyo,9/8/13

In [18]:
df.shape

(451581, 9)

In [19]:
df = df.dropna(subset=['cc'])

In [20]:
df.shape

(447985, 9)

In [21]:
df.drop(['locale', 'localeabbr', 'postalcode', 'cc'], axis = 1, inplace = True)

/Users/ilya.ivolgin/miniconda3/envs/day2/lib/python3.5/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [22]:
df

              country  latitude  longitude     target    date
0               China   28.5500   115.9333     oregon  3/3/13
1             Germany   51.0000     9.0000     oregon  3/3/13
2              Taiwan   25.0392   121.5250     oregon  3/3/13
3       United States   45.5848  -122.9117    us-east  3/3/13
4              France   48.8600     2.3500  singapore  3/3/13
...               ...       ...        ...        ...     ...
451576          Japan   35.6850   139.7514     oregon  9/8/13
451577          China   31.8639   117.2808         eu  9/8/13
451578  United States   34.0530  -118.2642     oregon  9/8/13
451579         Taiwan   25.0392   121.5250      tokyo  9/8/13
451580         Taiwan   25.0392   121.5250      tokyo  9/8/13

[447985 rows x 5 columns]

In [23]:
df = df.rename(columns = {'country': 'from'})

In [24]:
df

                 from  latitude  longitude     target    date
0               China   28.5500   115.9333     oregon  3/3/13
1             Germany   51.0000     9.0000     oregon  3/3/13
2              Taiwan   25.0392   121.5250     oregon  3/3/13
3       United States   45.5848  -122.9117    us-east  3/3/13
4              France   48.8600     2.3500  singapore  3/3/13
...               ...       ...        ...        ...     ...
451576          Japan   35.6850   139.7514     oregon  9/8/13
451577          China   31.8639   117.2808         eu  9/8/13
451578  United States   34.0530  -118.2642     oregon  9/8/13
451579         Taiwan   25.0392   121.5250      tokyo  9/8/13
451580         Taiwan   25.0392   121.5250      tokyo  9/8/13

[447985 rows x 5 columns]

In [25]:
df = df[['date', 'target', 'from', 'latitude', 'longitude']]

In [26]:
df

          date     target           from  latitude  longitude
0       3/3/13     oregon          China   28.5500   115.9333
1       3/3/13     oregon        Germany   51.0000     9.0000
2       3/3/13     oregon         Taiwan   25.0392   121.5250
3       3/3/13    us-east  United States   45.5848  -122.9117
4       3/3/13  singapore         France   48.8600     2.3500
...        ...        ...            ...       ...        ...
451576  9/8/13     oregon          Japan   35.6850   139.7514
451577  9/8/13         eu          China   31.8639   117.2808
451578  9/8/13     oregon  United States   34.0530  -118.2642
451579  9/8/13      tokyo         Taiwan   25.0392   121.5250
451580  9/8/13      tokyo         Taiwan   25.0392   121.5250

[447985 rows x 5 columns]

In [27]:
df['date'] = pd.to_datetime(df.date)

In [28]:
df

             date     target           from  latitude  longitude
0      2013-03-03     oregon          China   28.5500   115.9333
1      2013-03-03     oregon        Germany   51.0000     9.0000
2      2013-03-03     oregon         Taiwan   25.0392   121.5250
3      2013-03-03    us-east  United States   45.5848  -122.9117
4      2013-03-03  singapore         France   48.8600     2.3500
...           ...        ...            ...       ...        ...
451576 2013-09-08     oregon          Japan   35.6850   139.7514
451577 2013-09-08         eu          China   31.8639   117.2808
451578 2013-09-08     oregon  United States   34.0530  -118.2642
451579 2013-09-08      tokyo         Taiwan   25.0392   121.5250
451580 2013-09-08      tokyo         Taiwan   25.0392   121.5250

[447985 rows x 5 columns]

In [29]:
df['target'].value_counts()

tokyo        125624
oregon        93926
singapore     77641
norcal        47908
us-east       30929
sydney        24356
sa            24194
eu            23407
Name: target, dtype: int64

In [30]:
df['target'].unique()

array(['oregon', 'us-east', 'singapore', 'tokyo', 'sa', 'norcal', 'eu',
       'sydney'], dtype=object)

In [31]:
df['from'].value_counts()

China            191394
United States     89982
Japan             17204
Iran              13042
Taiwan            12148
                  ...
Liberia               2
Guyana                2
Barbados              1
Cape Verde            1
Bermuda               1
Name: from, Length: 176, dtype: int64

In [32]:
aggression = df['from'].value_counts()

In [33]:
type(aggression)

pandas.core.series.Series

In [34]:
aggression = aggression.reset_index()

In [35]:
aggression

             index    from
0            China  191394
1    United States   89982
2            Japan   17204
3             Iran   13042
4           Taiwan   12148
..             ...     ...
171        Liberia       2
172         Guyana       2
173       Barbados       1
174     Cape Verde       1
175        Bermuda       1

[176 rows x 2 columns]

In [36]:
aggression = aggression.rename(columns={"index": "location", "from": "freq"})

In [37]:
aggression

          location    freq
0            China  191394
1    United States   89982
2            Japan   17204
3             Iran   13042
4           Taiwan   12148
..             ...     ...
171        Liberia       2
172         Guyana       2
173       Barbados       1
174     Cape Verde       1
175        Bermuda       1

[176 rows x 2 columns]

In [38]:
from sklearn.preprocessing import MinMaxScaler

In [39]:
scaler = MinMaxScaler()

In [40]:
aggression['scaled_freq'] = scaler.fit_transform(aggression[['freq']])

/Users/ilya.ivolgin/miniconda3/envs/day2/lib/python3.5/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [41]:
aggression

          location    freq  scaled_freq
0            China  191394     1.000000
1    United States   89982     0.470137
2            Japan   17204     0.089883
3             Iran   13042     0.068137
4           Taiwan   12148     0.063466
..             ...     ...          ...
171        Liberia       2     0.000005
172         Guyana       2     0.000005
173       Barbados       1     0.000000
174     Cape Verde       1     0.000000
175        Bermuda       1     0.000000

[176 rows x 3 columns]

In [42]:
imported = pd.read_csv('to_import.csv')

In [43]:
imported.head()

,Unnamed: 0,Scaled_with_minmax,impact,latitude,location,longitude,new_impact
0,0,0.003638,0.001,32.0,Afghanistan,64.0,0.000000
1,1,0.003638,0.001,31.0,Afghanistan,63.0,0.000000
2,2,0.003638,0.001,30.0,Afghanistan,66.0,0.000000
3,3,0.003638,0.005,31.0,Afghanistan,62.0,0.108108
4,4,0.003638,0.004,37.0,Afghanistan,66.0,0.081081

In [44]:
imported.columns

Index(['Unnamed: 0', 'Scaled_with_minmax', 'impact', 'latitude', 'location',
       'longitude', 'new_impact'],
      dtype='object')

In [45]:
imported.drop(['Unnamed: 0', 'Scaled_with_minmax', 'impact'], axis = 1, inplace = True)

In [46]:
imported

      latitude               location  longitude  new_impact
0         32.0            Afghanistan       64.0    0.000000
1         31.0            Afghanistan       63.0    0.000000
2         30.0            Afghanistan       66.0    0.000000
3         31.0            Afghanistan       62.0    0.108108
4         37.0            Afghanistan       66.0    0.081081
...        ...                    ...        ...         ...
9945     -22.0                  Tonga     -175.0    0.000000
9946       7.0                  Palau      135.0    0.000000
9947      60.0          Aland Islands       20.0    0.000000
9948     -14.0      Wallis and Futuna     -176.0    0.000000
9949      32.0  Palestinian Territory       35.0    0.000000

[9950 rows x 4 columns]

In [47]:
part = imported[['location', 'latitude', 'longitude', 'new_impact']]

In [48]:
part

                   location  latitude  longitude  new_impact
0               Afghanistan      32.0       64.0    0.000000
1               Afghanistan      31.0       63.0    0.000000
2               Afghanistan      30.0       66.0    0.000000
3               Afghanistan      31.0       62.0    0.108108
4               Afghanistan      37.0       66.0    0.081081
...                     ...       ...        ...         ...
9945                  Tonga     -22.0     -175.0    0.000000
9946                  Palau       7.0      135.0    0.000000
9947          Aland Islands      60.0       20.0    0.000000
9948      Wallis and Futuna     -14.0     -176.0    0.000000
9949  Palestinian Territory      32.0       35.0    0.000000

[9950 rows x 4 columns]

In [52]:
join = part.merge(aggression, on = 'location', how = 'left')

In [53]:
join

,location,latitude,longitude,new_impact,freq,scaled_freq
0,Afghanistan,32.0,64.0,0.000000,7.0,0.000031
1,Afghanistan,31.0,63.0,0.000000,7.0,0.000031
2,Afghanistan,30.0,66.0,0.000000,7.0,0.000031
3,Afghanistan,31.0,62.0,0.108108,7.0,0.000031
4,Afghanistan,37.0,66.0,0.081081,7.0,0.000031
...,...,...,...,...,...,...
9945,Tonga,-22.0,-175.0,0.000000,24.0,0.000120
9946,Palau,7.0,135.0,0.000000,2.0,0.000005
9947,Aland Islands,60.0,20.0,0.000000,NaN,NaN
9948,Wallis and Futuna,-14.0,-176.0,0.000000,NaN,NaN
9949,Palestinian Territory,32.0,35.0,0.000000,NaN,NaN

In [54]:
join.isna().sum()

location          1
latitude          0
longitude         0
new_impact        0
freq           2086
scaled_freq    2086
dtype: int64

In [55]:
join[['freq', 'scaled_freq']] = join[['freq', 'scaled_freq']].fillna(value=0)

In [57]:
join.isna().sum()

location       1
latitude       0
longitude      0
new_impact     0
freq           0
scaled_freq    0
dtype: int64

In [58]:
join

,location,latitude,longitude,new_impact,freq,scaled_freq
0,Afghanistan,32.0,64.0,0.000000,7.0,0.000031
1,Afghanistan,31.0,63.0,0.000000,7.0,0.000031
2,Afghanistan,30.0,66.0,0.000000,7.0,0.000031
3,Afghanistan,31.0,62.0,0.108108,7.0,0.000031
4,Afghanistan,37.0,66.0,0.081081,7.0,0.000031
...,...,...,...,...,...,...
9945,Tonga,-22.0,-175.0,0.000000,24.0,0.000120
9946,Palau,7.0,135.0,0.000000,2.0,0.000005
9947,Aland Islands,60.0,20.0,0.000000,0.0,0.000000
9948,Wallis and Futuna,-14.0,-176.0,0.000000,0.0,0.000000
9949,Palestinian Territory,32.0,35.0,0.000000,0.0,0.000000

In [59]:
join['damage'] = join['new_impact'] * join['scaled_freq']

In [60]:
join

,location,latitude,longitude,new_impact,freq,scaled_freq,damage
0,Afghanistan,32.0,64.0,0.000000,7.0,0.000031,0.000000
1,Afghanistan,31.0,63.0,0.000000,7.0,0.000031,0.000000
2,Afghanistan,30.0,66.0,0.000000,7.0,0.000031,0.000000
3,Afghanistan,31.0,62.0,0.108108,7.0,0.000031,0.000003
4,Afghanistan,37.0,66.0,0.081081,7.0,0.000031,0.000003
...,...,...,...,...,...,...,...
9945,Tonga,-22.0,-175.0,0.000000,24.0,0.000120,0.000000
9946,Palau,7.0,135.0,0.000000,2.0,0.000005,0.000000
9947,Aland Islands,60.0,20.0,0.000000,0.0,0.000000,0.000000
9948,Wallis and Futuna,-14.0,-176.0,0.000000,0.0,0.000000,0.000000
9949,Palestinian Territory,32.0,35.0,0.000000,0.0,0.000000,0.000000

In [63]:
join[join['damage'] == join['damage'].max()]

     location  latitude  longitude  new_impact      freq  scaled_freq  damage
2649    China      31.0      122.0         1.0  191394.0          1.0     1.0

In [65]:
join.drop(['location', 'new_impact', 'freq', 'scaled_freq'], axis = 1, inplace = True)

In [66]:
join

      latitude  longitude    damage
0         32.0       64.0  0.000000
1         31.0       63.0  0.000000
2         30.0       66.0  0.000000
3         31.0       62.0  0.000003
4         37.0       66.0  0.000003
...        ...        ...       ...
9945     -22.0     -175.0  0.000000
9946       7.0      135.0  0.000000
9947      60.0       20.0  0.000000
9948     -14.0     -176.0  0.000000
9949      32.0       35.0  0.000000

[9950 rows x 3 columns]

In [67]:
nah = join.values.tolist()

In [68]:
nah

[[32.0, 64.0, 0.0],
 [31.0, 63.0, 0.0],
 [30.0, 66.0, 0.0],
 [31.0, 62.0, 3.3890928542248085e-06],
 [37.0, 66.0, 2.541819640668606e-06],
 [37.0, 65.0, 1.6945464271124042e-06],
 [33.0, 62.0, 0.0],
 [33.0, 61.0, 8.472732135562021e-07],
 [37.0, 67.0, 7.62545892200582e-06],
 [33.0, 64.0, 8.472732135562021e-07],
 [32.0, 69.0, 1.6945464271124042e-06],
 [33.0, 63.0, 8.472732135562021e-07],
 [33.0, 66.0, 2.541819640668606e-06],
 [34.0, 69.0, 1.1861824989786828e-05],
 [37.0, 64.0, 8.472732135562021e-07],
 [33.0, 65.0, 1.6945464271124042e-06],
 [36.0, 69.0, 1.864001069823644e-05],
 [33.0, 68.0, 5.930912494893414e-06],
 [34.0, 67.0, 3.3890928542248085e-06],
 [36.0, 70.0, 1.270909820334303e-05],
 [33.0, 67.0, 3.3890928542248085e-06],
 [34.0, 68.0, 5.083639281337211e-06],
 [36.0, 71.0, 3.3890928542248085e-06],
 [37.0, 73.0, 0.0],
 [34.0, 65.0, 8.472732135562021e-07],
 [35.0, 71.0, 1.6945464271124042e-06],
 [33.0, 69.0, 3.134910890157947e-05],
 [34.0, 66.0, 1.6945464271124042e-06],
 [35.0, 70.0, 1.270909820334303e-05],
 [34.0, 63.0, 1.270909820334303e-05],
 [35.0, 69.0, 5.083639281337211e-06],
 [37.0, 70.0, 2.2029103552461248e-05],
 [34.0, 64.0, 2.541819640668606e-06],
 [37.0, 69.0, 2.2876376766017455e-05],
 [34.0, 61.0, 3.3890928542248085e-06],
 [34.0, 62.0, 1.6945464271124042e-06],
 [37.0, 71.0, 5.930912494893414e-06],
 [36.0, 63.0, 8.472732135562021e-07],
 [35.0, 64.0, 1.6945464271124042e-06],
 [29.0, 63.0, 0.0],
 [36.0, 64.0, 1.6945464271124042e-06],
 [38.0, 71.0, 1.6945464271124042e-06],
 [35.0, 63.0, 1.6945464271124042e-06],
 [36.0, 65.0, 3.3890928542248085e-06],
 [35.0, 62.0, 2.541819640668606e-06],
 [32.0, 65.0, 2.541819640668606e-06],
 [36.0, 66.0, 5.930912494893414e-06],
 [35.0, 61.0, 1.6098191057567842e-05],
 [30.0, 63.0, 0.0],
 [32.0, 66.0, 3.3890928542248085e-06],
 [36.0, 67.0, 1.1861824989786828e-05],
 [35.0, 68.0, 2.541819640668606e-06],
 [30.0, 64.0, 0.0],
 [32.0, 67.0, 1.6945464271124042e-06],
 [36.0, 68.0, 1.1861824989786828e-05],
 [35.0, 67.0, 4.23636606778101e-06],
 [32.0, 68.0, 3.3890928542248085e-06],
 [35.0, 66.0, 2.541819640668606e-06],
 [30.0, 62.0, 5.083639281337211e-06],
 [32.0, 61.0, 8.472732135562021e-07],
 [31.0, 66.0, 1.1014551776230626e-05],
 [35.0, 65.0, 6.778185708449617e-06],
 [32.0, 62.0, 8.472732135562021e-07],
 [31.0, 65.0, 5.930912494893414e-06],
 [32.0, 63.0, 2.541819640668606e-06],
 [31.0, 64.0, 8.472732135562021e-07],
 [30.0, 65.0, 0.0],
 [40.0, 20.0, 0.0004305277622483581],
 [42.0, 20.0, 0.0],
 [41.0, 20.0, 0.0005381597028104475],
 [31.0, 7.0, 3.328736025839756e-06],
 [33.0, 4.0, 1.3314944103359023e-05],
 [29.0, 5.0, 3.328736025839756e-06],
 [36.0, 1.0, 4.6602304361756574e-05],
 [31.0, 6.0, 3.328736025839756e-06],
 [33.0, 3.0, 9.986208077519267e-06],
 [32.0, 1.0, 3.328736025839756e-06],
 [36.0, 2.0, 9.653334474935292e-05],
 [35.0, 8.0, 5.6588512439275855e-05],
 [31.0, 5.0, 3.328736025839756e-06],
 [33.0, 6.0, 6.657472051679512e-06],
 [30.0, -1.0, 3.328736025839756e-06],
 [32.0, 2.0, 3.328736025839756e-06],
 [28.0, -3.0, 0.0],
 [36.0, 3.0, 0.00013980691308526977],
 [35.0, 7.0, 7.323219256847461e-05],
 [33.0, 5.0, 1.9972416155038535e-05],
 [29.0, 2.0, 0.0],
 [30.0, 0.0, 3.328736025839756e-06],
 [32.0, 3.0, 3.328736025839756e-06],
 [28.0, -2.0, 0.0],
 [36.0, 4.0, 0.0004127632672041297],
 [35.0, 6.0, 9.986208077519266e-05],
 [30.0, -3.0, 3.328736025839756e-06],
 [32.0, 4.0, 3.328736025839756e-06],
 [35.0, 5.0, 5.325977641343609e-05],
 [33.0, 7.0, 6.657472051679512e-06],
 [29.0, 4.0, 3.328736025839756e-06],
 [30.0, -2.0, 0.0],
 [32.0, -3.0, 6.657472051679512e-06],
 [29.0, 3.0, 3.328736025839756e-06],
 [30.0, 3.0, 3.328736025839756e-06],
 [32.0, -2.0, 3.328736025839756e-06],
 [29.0, -2.0, 3.328736025839756e-06],
 [30.0, 4.0, 3.328736025839756e-06],
 [29.0, -3.0, 3.328736025839756e-06],
 [30.0, 1.0, 0.0],
 [32.0, 0.0, 3.328736025839756e-06],
 [27.0, -9.0, 0.0],
 [29.0, 0.0, 0.0],
 [30.0, 2.0, 0.0],
 [35.0, 0.0, 0.00016976553731782755],
 [29.0, -1.0, 3.328736025839756e-06],
 [28.0, 5.0, 0.0],
 [35.0, -1.0, 3.661609628423731e-05],
 [28.0, 6.0, 0.0],
 [28.0, 7.0, 0.0],
 [34.0, 7.0, 1.9972416155038535e-05],
 [32.0, 5.0, 3.328736025839756e-06],
 [35.0, 4.0, 4.6602304361756574e-05],
 [32.0, 6.0, 3.328736025839756e-06],
 [31.0, 4.0, 3.328736025839756e-06],
 [35.0, 3.0, 5.991724846511561e-05],
 [34.0, 5.0, 3.328736025839756e-05],
 [32.0, 7.0, 3.328736025839756e-06],
 [31.0, 3.0, 3.328736025839756e-06],
 [35.0, 2.0, 6.990345654263489e-05],
 [34.0, 6.0, 2.3301152180878294e-05],
 [36.0, 5.0, 0.00021969657770542388],
 [32.0, 8.0, 9.986208077519267e-06],
 [31.0, 2.0, 3.328736025839756e-06],
 [35.0, 1.0, 0.0001298207050077505],
 [34.0, 3.0, 1.9972416155038535e-05],
 [36.0, 6.0, 0.000149793121162789],
 [31.0, 1.0, 3.328736025839756e-06],
 [34.0, 4.0, 2.3301152180878294e-05],
 [36.0, 7.0, 0.00020638163360206486],
 [26.0, -9.0, 0.0],
 [34.0, 1.0, 2.3301152180878294e-05],
 [36.0, 8.0, 0.00016310806526614806],
 [34.0, 2.0, 2.9958624232557806e-05],
 [31.0, -2.0, 3.328736025839756e-06],
 [34.0, -1.0, 8.32184006459939e-05],
 [31.0, -3.0, 9.986208077519267e-06],
 [30.0, 7.0, 3.328736025839756e-06],
 [34.0, 0.0, 5.325977641343609e-05],
 [33.0, 0.0, 3.328736025839756e-06],
 [30.0, 5.0, 3.328736025839756e-06],
 [28.0, -9.0, 3.328736025839756e-06],
 [37.0, 8.0, 3.328736025839756e-06],
 [33.0, -1.0, 6.657472051679512e-06],
 [30.0, 6.0, 3.328736025839756e-06],
 [28.0, -8.0, 0.0],
 [37.0, 7.0, 3.328736025839756e-06],
 [33.0, 2.0, 3.328736025839756e-06],
 [33.0, 1.0, 3.328736025839756e-06],
 [29.0, 6.0, 3.328736025839756e-06],
 [-14.0, 15.0, 6.269821780315895e-06],
 [-8.0, 14.0, 2.089940593438632e-06],
 [-13.0, 21.0, 1.044970296719316e-06],
 [-16.0, 13.0, 1.044970296719316e-06],
 [-14.0, 16.0, 1.1494673263912474e-05],
 [-8.0, 15.0, 5.22485148359658e-06],
 [-6.0, 14.0, 2.4034316824544265e-05],
 [-11.0, 23.0, 2.089940593438632e-06],
 [-16.0, 14.0, 3.1349108901579477e-06],
 [-14.0, 13.0, 1.044970296719316e-06],
 [-8.0, 16.0, 5.22485148359658e-06],
 [-16.0, 15.0, 4.179881186877264e-06],
 [-14.0, 14.0, 5.22485148359658e-06],
 [-16.0, 16.0, 3.1349108901579477e-06],
 [-7.0, 14.0, 2.089940593438632e-06],
 [-9.0, 14.0, 3.134910890157947e-05],
 [-13.0, 16.0, 1.8809465340947686e-05],
 [-7.0, 13.0, 1.044970296719316e-06],
 [-9.0, 23.0, 2.089940593438632e-06],
 [-13.0, 15.0, 7.314792077035211e-06],
 [-15.0, 13.0, 1.044970296719316e-06],
 [-13.0, 14.0, 4.179881186877264e-06],
 [-7.0, 15.0, 3.1349108901579477e-06],
 [-12.0, 22.0, 1.044970296719316e-06],
 [-15.0, 16.0, 4.179881186877264e-06],
 [-9.0, 18.0, 3.1349108901579477e-06],
 [-15.0, 15.0, 4.179881186877264e-06],
 [-12.0, 21.0, 1.044970296719316e-06],
 [-13.0, 20.0, 1.044970296719316e-06],
 [-15.0, 18.0, 1.044970296719316e-06],
 [-13.0, 19.0, 3.1349108901579477e-06],
 [-10.0, 15.0, 5.22485148359658e-06],
 [-15.0, 17.0, 2.089940593438632e-06],
 [-13.0, 18.0, 6.269821780315895e-06],
 [-10.0, 16.0, 5.22485148359658e-06],
 [-9.0, 22.0, 1.044970296719316e-06],
 [-13.0, 17.0, 1.1494673263912474e-05],
 [-15.0, 14.0, 2.089940593438632e-06],
 [-9.0, 20.0, 1.044970296719316e-06],
 [-15.0, 19.0, 0.0],
 [-11.0, 18.0, 4.179881186877264e-06],
 [-9.0, 19.0, 1.044970296719316e-06],
 [-10.0, 14.0, 2.4034316824544265e-05],
 [-9.0, 17.0, 4.179881186877264e-06],
 [-11.0, 17.0, 5.22485148359658e-06],
 [-10.0, 19.0, 1.044970296719316e-06],
 [-11.0, 20.0, 1.044970296719316e-06],
 [-10.0, 20.0, 1.044970296719316e-06],
 [-12.0, 14.0, 1.044970296719316e-06],
 [-11.0, 19.0, 2.089940593438632e-06],
 [-10.0, 17.0, 4.179881186877264e-06],
 [-12.0, 15.0, 5.22485148359658e-06],
 [-11.0, 14.0, 1.044970296719316e-06],
 [-10.0, 18.0, 3.1349108901579477e-06],
 [-12.0, 16.0, 9.404732670473843e-06],
 [-9.0, 21.0, 1.044970296719316e-06],
 [-17.0, 16.0, 1.044970296719316e-06],
 [-8.0, 21.0, 2.089940593438632e-06],
 [-11.0, 22.0, 1.044970296719316e-06],
 [-10.0, 23.0, 2.089940593438632e-06],
 [-12.0, 17.0, 9.404732670473843e-06],
 [-8.0, 22.0, 4.179881186877264e-06],
 [-11.0, 16.0, 5.22485148359658e-06],
 [-12.0, 18.0, 5.22485148359658e-06],
 [-9.0, 16.0, 6.269821780315895e-06],
 [-11.0, 15.0, 4.179881186877264e-06],
 [-15.0, 20.0, 0.0],
 [-10.0, 21.0, 1.044970296719316e-06],
 [-12.0, 19.0, 5.22485148359658e-06],
 [-10.0, 22.0, 1.044970296719316e-06],
 [-12.0, 20.0, 1.044970296719316e-06],
 [-14.0, 19.0, 1.044970296719316e-06],
 [-16.0, 17.0, 2.089940593438632e-06],
 [-14.0, 20.0, 1.044970296719316e-06],
 [-8.0, 19.0, 3.1349108901579477e-06],
 [-11.0, 21.0, 1.044970296719316e-06],
 [-16.0, 18.0, 0.0],
 [-14.0, 17.0, 8.359762373754528e-06],
 [-8.0, 20.0, 2.089940593438632e-06],
 [-14.0, 18.0, 6.269821780315895e-06],
 [-9.0, 15.0, 4.179881186877264e-06],
 [-40.0, -69.0, 1.803290387356026e-05],
 [-28.0, -58.0, 0.0002704935581034039],
 [-40.0, -65.0, 0.0],
 [-38.0, -58.0, 5.409871162068078e-05],
 [-26.0, -61.0, 1.803290387356026e-05],
 [-34.0, -59.0, 9.016451936780132e-05],
 [-38.0, -60.0, 3.606580774712052e-05],
 [-33.0, -65.0, 3.606580774712052e-05],
 [-30.0, -66.0, 3.606580774712052e-05],
 [-27.0, -54.0, 0.00012623032711492184],
 [-40.0, -68.0, 3.606580774712052e-05],
 [-28.0, -57.0, 3.606580774712052e-05],
 [-55.0, -66.0, 0.0],
 [-26.0, -60.0, 1.803290387356026e-05],
 [-38.0, -63.0, 1.803290387356026e-05],
 [-25.0, -64.0, 7.213161549424104e-05],
 [-29.0, -67.0, 0.0],
 [-39.0, -62.0, 0.00014426323098848208],
 [-55.0, -68.0, 0.0],
 [-27.0, -55.0, 0.00014426323098848208],
 [-41.0, -62.0, 0.0],
 [-24.0, -59.0, 0.0],
 [-28.0, -56.0, 5.409871162068078e-05],
 [-26.0, -63.0, 1.803290387356026e-05],
 [-38.0, -62.0, 1.803290387356026e-05],
 [-36.0, -61.0, 5.409871162068078e-05],
 [-30.0, -68.0, 0.0],
 [-39.0, -63.0, 0.0],
 [-48.0, -67.0, 0.0],
 [-25.0, -68.0, 3.606580774712052e-05],
 [-35.0, -70.0, 0.00025246065422984367],
 [-29.0, -58.0, 5.409871162068078e-05],
 [-26.0, -62.0, 1.803290387356026e-05],
 [-44.0, -65.0, 3.606580774712052e-05],
 [-43.0, -63.0, 0.0],
 [-33.0, -66.0, 0.0],
 [-36.0, -70.0, 7.213161549424104e-05],
 [-33.0, -59.0, 5.409871162068078e-05],
 [-50.0, -74.0, 0.0],
 [-38.0, -64.0, 0.0],
 [-35.0, -66.0, 3.606580774712052e-05],
 [-39.0, -61.0, 9.016451936780132e-05],
 [-32.0, -70.0, 3.606580774712052e-05],
 [-28.0, -64.0, 0.00019836194260916288],
 [-39.0, -70.0, 0.0],
 [-38.0, -67.0, 1.803290387356026e-05],
 [-27.0, -59.0, 5.409871162068078e-05],
 [-24.0, -63.0, 3.606580774712052e-05],
 [-26.0, -59.0, 3.606580774712052e-05],
 [-39.0, -71.0, 5.409871162068078e-05],
 [-34.0, -65.0, 3.606580774712052e-05],
 [-52.0, -70.0, 1.803290387356026e-05],
 [-37.0, -70.0, 1.803290387356026e-05],
 [-33.0, -67.0, 1.803290387356026e-05],
 [-32.0, -68.0, 0.0002704935581034039],
 [-24.0, -62.0, 0.0],
 [-37.0, -60.0, 5.409871162068078e-05],
 [-55.0, -67.0, 1.803290387356026e-05],
 [-26.0, -58.0, 9.016451936780132e-05],
 [-34.0, -64.0, 7.213161549424104e-05],
 [-25.0, -65.0, 0.00034262517359764493],
 [-29.0, -60.0, 1.803290387356026e-05],
 [-41.0, -63.0, 1.803290387356026e-05],
 [-24.0, -61.0, 0.0],
 [-37.0, -61.0, 3.606580774712052e-05],
 [-35.0, -62.0, 5.409871162068078e-05],
 [-39.0, -69.0, 5.409871162068078e-05],
 [-34.0, -67.0, 1.803290387356026e-05],
 [-36.0, -60.0, 5.409871162068078e-05],
 [-43.0, -64.0, 1.803290387356026e-05],
 [-29.0, -59.0, 7.213161549424104e-05],
 [-44.0, -64.0, 1.803290387356026e-05],
 [-34.0, -66.0, 5.409871162068078e-05],
 [-43.0, -65.0, 1.803290387356026e-05],
 [-42.0, -72.0, 7.213161549424104e-05],
 [-52.0, -69.0, 1.803290387356026e-05],
 [-36.0, -69.0, 0.0],
 [-44.0, -71.0, 1.803290387356026e-05],
 [-34.0, -61.0, 0.00014426323098848208],
 [-35.0, -67.0, 1.803290387356026e-05],
 [-47.0, -68.0, 0.0],
 [-37.0, -56.0, 1.803290387356026e-05],
 [-28.0, -59.0, 0.00014426323098848208],
 [-31.0, -70.0, 3.606580774712052e-05],
 [-54.0, -68.0, 0.0],
 [-29.0, -64.0, 7.213161549424104e-05],
 [-34.0, -60.0, 0.000757381962689531],
 [-23.0, -64.0, 3.606580774712052e-05],
 [-32.0, -63.0, 9.016451936780132e-05],
 [-28.0, -65.0, 0.00018032903873560263],
 [-24.0, -65.0, 5.409871162068078e-05],
 [-30.0, -58.0, 3.606580774712052e-05],
 [-28.0, -60.0, 7.213161549424104e-05],
 [-37.0, -57.0, 3.606580774712052e-05],
 [-35.0, -58.0, 0.007231194453297666],
 [-42.0, -65.0, 0.0],
 [-36.0, -68.0, 1.803290387356026e-05],
 [-34.0, -63.0, 5.409871162068078e-05],
 [-38.0, -56.0, 1.803290387356026e-05],
 [-23.0, -65.0, 1.803290387356026e-05],
 [-37.0, -71.0, 0.00014426323098848208],
 [-32.0, -62.0, 9.016451936780132e-05],
 [-24.0, -64.0, 7.213161549424104e-05],
 [-37.0, -58.0, 1.803290387356026e-05],
 [-46.0, -68.0, 1.803290387356026e-05],
 [-31.0, -68.0, 1.803290387356026e-05],
 [-34.0, -62.0, 7.213161549424104e-05],
 [-23.0, -62.0, 0.0],
 [-25.0, -66.0, 0.0],
 [-29.0, -61.0, 1.803290387356026e-05],
 [-32.0, -61.0, 0.00010819742324136156],
 [-41.0, -64.0, 1.803290387356026e-05],
 [-37.0, -59.0, 3.606580774712052e-05],
 [-38.0, -57.0, 0.00023442775035628343],
 [-46.0, -71.0, 1.803290387356026e-05],
 [-34.0, -69.0, 5.409871162068078e-05],
 [-46.0, -67.0, 3.606580774712052e-05],
 [-22.0, -62.0, 1.803290387356026e-05],
 [-35.0, -63.0, 1.803290387356026e-05],
 [-39.0, -66.0, 1.803290387356026e-05],
 [-36.0, -59.0, 5.409871162068078e-05],
 [-23.0, -63.0, 3.606580774712052e-05],
 [-42.0, -71.0, 5.409871162068078e-05],
 [-27.0, -68.0, 0.0],
 [-28.0, -67.0, 0.0],
 [-32.0, -60.0, 0.0003967238852183257],
 [-25.0, -63.0, 1.803290387356026e-05],
 [-35.0, -68.0, 3.606580774712052e-05],
 [-34.0, -68.0, 0.00010819742324136156],
 [-22.0, -65.0, 5.409871162068078e-05],
 [-31.0, -66.0, 1.803290387356026e-05],
 [-36.0, -67.0, 1.803290387356026e-05],
 [-32.0, -67.0, 1.803290387356026e-05],
 [-36.0, -64.0, 1.803290387356026e-05],
 [-48.0, -68.0, 0.0],
 [-31.0, -67.0, 0.0],
 [-35.0, -64.0, 1.803290387356026e-05],
 [-32.0, -66.0, 1.803290387356026e-05],
 [-31.0, -64.0, 5.409871162068078e-05],
 [-25.0, -62.0, 0.0],
 [-39.0, -68.0, 0.00010819742324136156],
 [-29.0, -65.0, 0.00010819742324136156],
 [-39.0, -58.0, 3.606580774712052e-05],
 [-33.0, -63.0, 0.00012623032711492184],
 [-32.0, -65.0, 1.803290387356026e-05],
 [-41.0, -70.0, 0.0],
 [-35.0, -59.0, 0.00023442775035628343],
 [-36.0, -63.0, 5.409871162068078e-05],
 [-22.0, -66.0, 1.803290387356026e-05],
 [-31.0, -65.0, 1.803290387356026e-05],
 [-39.0, -59.0, 3.606580774712052e-05],
 [-33.0, -61.0, 0.00010819742324136156],
 [-36.0, -66.0, 1.803290387356026e-05],
 [-37.0, -64.0, 5.409871162068078e-05],
 [-33.0, -62.0, 7.213161549424104e-05],
 [-32.0, -64.0, 0.0009016451936780134],
 [-41.0, -71.0, 1.803290387356026e-05],
 [-55.0, -65.0, 0.0],
 [-38.0, -69.0, 0.0],
 [-36.0, -57.0, 0.00010819742324136156],
 [-31.0, -62.0, 3.606580774712052e-05],
 [-30.0, -59.0, 7.213161549424104e-05],
 [-29.0, -62.0, 1.803290387356026e-05],
 [-41.0, -72.0, 9.016451936780132e-05],
 [-41.0, -65.0, 0.0],
 [-33.0, -68.0, 0.0004508225968390066],
 [-38.0, -68.0, 1.803290387356026e-05],
 [-31.0, -63.0, 1.803290387356026e-05],
 [-39.0, -57.0, 0.00014426323098848208],
 [-27.0, -62.0, 0.0],
 [-28.0, -66.0, 1.803290387356026e-05],
 [-35.0, -60.0, 0.00012623032711492184],
 [-28.0, -69.0, 1.803290387356026e-05],
 [-45.0, -67.0, 1.803290387356026e-05],
 [-35.0, -69.0, 1.803290387356026e-05],
 [-25.0, -58.0, 1.803290387356026e-05],
 [-26.0, -68.0, 1.803290387356026e-05],
 [-38.0, -71.0, 5.409871162068078e-05],
 [-31.0, -60.0, 3.606580774712052e-05],
 [-30.0, -61.0, 1.803290387356026e-05],
 [-37.0, -62.0, 3.606580774712052e-05],
 [-27.0, -63.0, 1.803290387356026e-05],
 [-36.0, -58.0, 0.00019836194260916288],
 [-40.0, -63.0, 0.0],
 [-28.0, -68.0, 0.0],
 [-52.0, -72.0, 0.0],
 [-28.0, -63.0, 3.606580774712052e-05],
 [-38.0, -70.0, 0.0],
 [-31.0, -61.0, 5.409871162068078e-05],
 [-30.0, -60.0, 1.803290387356026e-05],
 [-27.0, -60.0, 0.00010819742324136156],
 [-35.0, -65.0, 3.606580774712052e-05],
 [-40.0, -62.0, 1.803290387356026e-05],
 [-33.0, -60.0, 0.00021639484648272312],
 [-31.0, -58.0, 5.409871162068078e-05],
 [-30.0, -63.0, 1.803290387356026e-05],
 [-27.0, -61.0, 1.803290387356026e-05],
 [-39.0, -60.0, 3.606580774712052e-05],
 [-32.0, -59.0, 0.00014426323098848208],
 [-25.0, -60.0, 1.803290387356026e-05],
 [-48.0, -66.0, 0.0],
 [-35.0, -61.0, 9.016451936780132e-05],
 [-26.0, -65.0, 9.016451936780132e-05],
 [-36.0, -62.0, 3.606580774712052e-05],
 [-28.0, -62.0, 1.803290387356026e-05],
 [-31.0, -59.0, 3.606580774712052e-05],
 [-30.0, -62.0, 0.0],
 [-27.0, -66.0, 1.803290387356026e-05],
 [-37.0, -65.0, 0.0],
 [-37.0, -63.0, 3.606580774712052e-05],
 [-29.0, -57.0, 1.803290387356026e-05],
 [-25.0, -61.0, 0.0],
 [-33.0, -64.0, 7.213161549424104e-05],
 [-26.0, -64.0, 3.606580774712052e-05],
 [-30.0, -65.0, 1.803290387356026e-05],
 [-29.0, -63.0, 1.803290387356026e-05],
 [-40.0, -71.0, 3.606580774712052e-05],
 [-45.0, -68.0, 0.0],
 [-40.0, -67.0, 1.803290387356026e-05],
 [-38.0, -59.0, 7.213161549424104e-05],
 [-33.0, -69.0, 9.016451936780132e-05],
 [-30.0, -64.0, 1.803290387356026e-05],
 [-39.0, -67.0, 9.016451936780132e-05],
 [-43.0, -70.0, 0.0],
 [-27.0, -64.0, 5.409871162068078e-05],
 [-40.0, -70.0, 0.0],
 [-40.0, -66.0, 1.803290387356026e-05],
 [-29.0, -66.0, 1.803290387356026e-05],
 [-25.0, -59.0, 1.803290387356026e-05],
 [-26.0, -66.0, 0.0],
 [-38.0, -61.0, 1.803290387356026e-05],
 [-30.0, -67.0, 1.803290387356026e-05],
 [-28.0, -61.0, 3.606580774712052e-05],
 [-43.0, -71.0, 1.803290387356026e-05],
 [-27.0, -65.0, 0.00046885550071256685],
 [40.0, 45.0, 0.0012696389105139687],
 [41.0, 45.0, 0.0010514197227693804],
 [40.0, 44.0, 9.919053988390381e-05],
 [41.0, 44.0, 0.0],
 [-15.0, 133.0, 0.0],
 [-34.0, 152.0, 0.008944945739917342],
 [-23.0, 150.0, 0.0],
 [-38.0, 150.0, 0.0],
 [-37.0, 149.0, 0.00011322716126477648],
 [-32.0, 153.0, 0.00033968148379432946],
 [-33.0, 118.0, 0.0],
 [-35.0, 150.0, 0.00011322716126477648],
 [-35.0, 119.0, 0.0],
 [-18.0, 146.0, 0.00022645432252955296],
 [-33.0, 117.0, 0.0004529086450591059],
 [-23.0, 151.0, 0.0],
 [-28.0, 153.0, 0.002038088902765977],
 [-35.0, 149.0, 0.00011322716126477648],
 [-26.0, 153.0, 0.00022645432252955296],
 [-29.0, 115.0, 0.00011322716126477648],
 [-35.0, 152.0, 0.0005661358063238823],
 [-19.0, 146.0, 0.0],
 [-25.0, 153.0, 0.00022645432252955296],
 [-38.0, 141.0, 0.00022645432252955296],
 [-27.0, 154.0, 0.0004529086450591059],
 [-35.0, 151.0, 0.002038088902765977],
 [-32.0, 149.0, 0.0],
 [-25.0, 152.0, 0.0],
 [-35.0, 146.0, 0.0],
 [-32.0, 150.0, 0.0],
 [-36.0, 149.0, 0.00011322716126477648],
 [-30.0, 153.0, 0.00011322716126477648],
 [-25.0, 151.0, 0.0],
 [-29.0, 152.0, 0.00011322716126477648],
 [-32.0, 151.0, 0.00022645432252955296],
 [-36.0, 150.0, 0.0012454987739125413],
 [-36.0, 148.0, 0.00022645432252955296],
 [-19.0, 147.0, 0.0],
 [-29.0, 151.0, 0.0],
 [-37.0, 141.0, 0.0],
 [-35.0, 148.0, 0.00011322716126477648],
 [-32.0, 152.0, 0.00011322716126477648],
 [-31.0, 152.0, 0.00011322716126477648],
 [-30.0, 150.0, 0.0],
 [-35.0, 147.0, 0.00011322716126477648],
 [-36.0, 139.0, 0.0011322716126477648],
 [-28.0, 152.0, 0.0004529086450591059],
 [-38.0, 147.0, 0.00011322716126477648],
 [-43.0, 148.0, 0.0006793629675886589],
 [-34.0, 149.0, 0.00011322716126477648],
 [-42.0, 146.0, 0.00011322716126477648],
 [-20.0, 147.0, 0.0004529086450591059],
 [-38.0, 142.0, 0.0],
 [-27.0, 153.0, 0.00033968148379432946],
 [-35.0, 141.0, 0.00011322716126477648],
 [-39.0, 142.0, 0.00011322716126477648],
 [-36.0, 144.0, 0.00011322716126477648],
 [-33.0, 148.0, 0.0],
 [-32.0, 116.0, 0.0023777703865603063],
 [-34.0, 150.0, 0.00033968148379432946],
 [-22.0, 150.0, 0.00022645432252955296],
 [-35.0, 118.0, 0.0],
 [-38.0, 148.0, 0.00011322716126477648],
 [-33.0, 116.0, 0.0014719530964420943],
 [-29.0, 154.0, 0.0012454987739125413],
 [-35.0, 143.0, 0.00022645432252955296],
 [-39.0, 144.0, 0.00011322716126477648],
 [-29.0, 153.0, 0.00011322716126477648],
 [-33.0, 138.0, 0.00011322716126477648],
 [-39.0, 143.0, 0.00011322716126477648],
 [-38.0, 145.0, 0.004189404966796729],
 [-36.0, 140.0, 0.00011322716126477648],
 [-34.0, 139.0, 0.00011322716126477648],
 [-39.0, 146.0, 0.0018116345802364237],
 [-24.0, 134.0, 0.00011322716126477648],
 [-39.0, 145.0, 0.0007925901288534353],
 [-20.0, 148.0, 0.0],
 [-13.0, 132.0, 0.0],

In [69]:
flat_list = []
for sublist in nah:
    for item in sublist:
        flat_list.append(item)

In [70]:
flat_list

[32.0,
 64.0,
 0.0,
 31.0,
 63.0,
 0.0,
 30.0,
 66.0,
 0.0,
 31.0,
 62.0,
 3.3890928542248085e-06,
 37.0,
 66.0,
 2.541819640668606e-06,
 37.0,
 65.0,
 1.6945464271124042e-06,
 33.0,
 62.0,
 0.0,
 33.0,
 61.0,
 8.472732135562021e-07,
 37.0,
 67.0,
 7.62545892200582e-06,
 33.0,
 64.0,
 8.472732135562021e-07,
 32.0,
 69.0,
 1.6945464271124042e-06,
 33.0,
 63.0,
 8.472732135562021e-07,
 33.0,
 66.0,
 2.541819640668606e-06,
 34.0,
 69.0,
 1.1861824989786828e-05,
 37.0,
 64.0,
 8.472732135562021e-07,
 33.0,
 65.0,
 1.6945464271124042e-06,
 36.0,
 69.0,
 1.864001069823644e-05,
 33.0,
 68.0,
 5.930912494893414e-06,
 34.0,
 67.0,
 3.3890928542248085e-06,
 36.0,
 70.0,
 1.270909820334303e-05,
 33.0,
 67.0,
 3.3890928542248085e-06,
 34.0,
 68.0,
 5.083639281337211e-06,
 36.0,
 71.0,
 3.3890928542248085e-06,
 37.0,
 73.0,
 0.0,
 34.0,
 65.0,
 8.472732135562021e-07,
 35.0,
 71.0,
 1.6945464271124042e-06,
 33.0,
 69.0,
 3.134910890157947e-05,
 34.0,
 66.0,
 1.6945464271124042e-06,
 35.0,
 70.0,
 1.270909820334303e-05,
 34.0,
 63.0,
 1.270909820334303e-05,
 35.0,
 69.0,
 5.083639281337211e-06,
 37.0,
 70.0,
 2.2029103552461248e-05,
 34.0,
 64.0,
 2.541819640668606e-06,
 37.0,
 69.0,
 2.2876376766017455e-05,
 34.0,
 61.0,
 3.3890928542248085e-06,
 34.0,
 62.0,
 1.6945464271124042e-06,
 37.0,
 71.0,
 5.930912494893414e-06,
 36.0,
 63.0,
 8.472732135562021e-07,
 35.0,
 64.0,
 1.6945464271124042e-06,
 29.0,
 63.0,
 0.0,
 36.0,
 64.0,
 1.6945464271124042e-06,
 38.0,
 71.0,
 1.6945464271124042e-06,
 35.0,
 63.0,
 1.6945464271124042e-06,
 36.0,
 65.0,
 3.3890928542248085e-06,
 35.0,
 62.0,
 2.541819640668606e-06,
 32.0,
 65.0,
 2.541819640668606e-06,
 36.0,
 66.0,
 5.930912494893414e-06,
 35.0,
 61.0,
 1.6098191057567842e-05,
 30.0,
 63.0,
 0.0,
 32.0,
 66.0,
 3.3890928542248085e-06,
 36.0,
 67.0,
 1.1861824989786828e-05,
 35.0,
 68.0,
 2.541819640668606e-06,
 30.0,
 64.0,
 0.0,
 32.0,
 67.0,
 1.6945464271124042e-06,
 36.0,
 68.0,
 1.1861824989786828e-05,
 35.0,
 67.0,
 4.23636606778101e-06,
 32.0,
 68.0,
 3.3890928542248085e-06,
 35.0,
 66.0,
 2.541819640668606e-06,
 30.0,
 62.0,
 5.083639281337211e-06,
 32.0,
 61.0,
 8.472732135562021e-07,
 31.0,
 66.0,
 1.1014551776230626e-05,
 35.0,
 65.0,
 6.778185708449617e-06,
 32.0,
 62.0,
 8.472732135562021e-07,
 31.0,
 65.0,
 5.930912494893414e-06,
 32.0,
 63.0,
 2.541819640668606e-06,
 31.0,
 64.0,
 8.472732135562021e-07,
 30.0,
 65.0,
 0.0,
 40.0,
 20.0,
 0.0004305277622483581,
 42.0,
 20.0,
 0.0,
 41.0,
 20.0,
 0.0005381597028104475,
 31.0,
 7.0,
 3.328736025839756e-06,
 33.0,
 4.0,
 1.3314944103359023e-05,
 29.0,
 5.0,
 3.328736025839756e-06,
 36.0,
 1.0,
 4.6602304361756574e-05,
 31.0,
 6.0,
 3.328736025839756e-06,
 33.0,
 3.0,
 9.986208077519267e-06,
 32.0,
 1.0,
 3.328736025839756e-06,
 36.0,
 2.0,
 9.653334474935292e-05,
 35.0,
 8.0,
 5.6588512439275855e-05,
 31.0,
 5.0,
 3.328736025839756e-06,
 33.0,
 6.0,
 6.657472051679512e-06,
 30.0,
 -1.0,
 3.328736025839756e-06,
 32.0,
 2.0,
 3.328736025839756e-06,
 28.0,
 -3.0,
 0.0,
 36.0,
 3.0,
 0.00013980691308526977,
 35.0,
 7.0,
 7.323219256847461e-05,
 33.0,
 5.0,
 1.9972416155038535e-05,
 29.0,
 2.0,
 0.0,
 30.0,
 0.0,
 3.328736025839756e-06,
 32.0,
 3.0,
 3.328736025839756e-06,
 28.0,
 -2.0,
 0.0,
 36.0,
 4.0,
 0.0004127632672041297,
 35.0,
 6.0,
 9.986208077519266e-05,
 30.0,
 -3.0,
 3.328736025839756e-06,
 32.0,
 4.0,
 3.328736025839756e-06,
 35.0,
 5.0,
 5.325977641343609e-05,
 33.0,
 7.0,
 6.657472051679512e-06,
 29.0,
 4.0,
 3.328736025839756e-06,
 30.0,
 -2.0,
 0.0,
 32.0,
 -3.0,
 6.657472051679512e-06,
 29.0,
 3.0,
 3.328736025839756e-06,
 30.0,
 3.0,
 3.328736025839756e-06,
 32.0,
 -2.0,
 3.328736025839756e-06,
 29.0,
 -2.0,
 3.328736025839756e-06,
 30.0,
 4.0,
 3.328736025839756e-06,
 29.0,
 -3.0,
 3.328736025839756e-06,
 30.0,
 1.0,
 0.0,
 32.0,
 0.0,
 3.328736025839756e-06,
 27.0,
 -9.0,
 0.0,
 29.0,
 0.0,
 0.0,
 30.0,
 2.0,
 0.0,
 35.0,
 0.0,
 0.00016976553731782755,
 29.0,
 -1.0,
 3.328736025839756e-06,
 28.0,
 5.0,
 0.0,
 35.0,
 -1.0,
 3.661609628423731e-05,
 28.0,
 6.0,
 0.0,
 28.0,
 7.0,
 0.0,
 34.0,
 7.0,
 1.9972416155038535e-05,
 32.0,
 5.0,
 3.328736025839756e-06,
 35.0,
 4.0,
 4.6602304361756574e-05,
 32.0,
 6.0,
 3.328736025839756e-06,
 31.0,
 4.0,
 3.328736025839756e-06,
 35.0,
 3.0,
 5.991724846511561e-05,
 34.0,
 5.0,
 3.328736025839756e-05,
 32.0,
 7.0,
 3.328736025839756e-06,
 31.0,
 3.0,
 3.328736025839756e-06,
 35.0,
 2.0,
 6.990345654263489e-05,
 34.0,
 6.0,
 2.3301152180878294e-05,
 36.0,
 5.0,
 0.00021969657770542388,
 32.0,
 8.0,
 9.986208077519267e-06,
 31.0,
 2.0,
 3.328736025839756e-06,
 35.0,
 1.0,
 0.0001298207050077505,
 34.0,
 3.0,
 1.9972416155038535e-05,
 36.0,
 6.0,
 0.000149793121162789,
 31.0,
 1.0,
 3.328736025839756e-06,
 34.0,
 4.0,
 2.3301152180878294e-05,
 36.0,
 7.0,
 0.00020638163360206486,
 26.0,
 -9.0,
 0.0,
 34.0,
 1.0,
 2.3301152180878294e-05,
 36.0,
 8.0,
 0.00016310806526614806,
 34.0,
 2.0,
 2.9958624232557806e-05,
 31.0,
 -2.0,
 3.328736025839756e-06,
 34.0,
 -1.0,
 8.32184006459939e-05,
 31.0,
 -3.0,
 9.986208077519267e-06,
 30.0,
 7.0,
 3.328736025839756e-06,
 34.0,
 0.0,
 5.325977641343609e-05,
 33.0,
 0.0,
 3.328736025839756e-06,
 30.0,
 5.0,
 3.328736025839756e-06,
 28.0,
 -9.0,
 3.328736025839756e-06,
 37.0,
 8.0,
 3.328736025839756e-06,
 33.0,
 -1.0,
 6.657472051679512e-06,
 30.0,
 6.0,
 3.328736025839756e-06,
 28.0,
 -8.0,
 0.0,
 37.0,
 7.0,
 3.328736025839756e-06,
 33.0,
 2.0,
 3.328736025839756e-06,
 33.0,
 1.0,
 3.328736025839756e-06,
 29.0,
 6.0,
 3.328736025839756e-06,
 -14.0,
 15.0,
 6.269821780315895e-06,
 -8.0,
 14.0,
 2.089940593438632e-06,
 -13.0,
 21.0,
 1.044970296719316e-06,
 -16.0,
 13.0,
 1.044970296719316e-06,
 -14.0,
 16.0,
 1.1494673263912474e-05,
 -8.0,
 15.0,
 5.22485148359658e-06,
 -6.0,
 14.0,
 2.4034316824544265e-05,
 -11.0,
 23.0,
 2.089940593438632e-06,
 -16.0,
 14.0,
 3.1349108901579477e-06,
 -14.0,
 13.0,
 1.044970296719316e-06,
 -8.0,
 16.0,
 5.22485148359658e-06,
 -16.0,
 15.0,
 4.179881186877264e-06,
 -14.0,
 14.0,
 5.22485148359658e-06,
 -16.0,
 16.0,
 3.1349108901579477e-06,
 -7.0,
 14.0,
 2.089940593438632e-06,
 -9.0,
 14.0,
 3.134910890157947e-05,
 -13.0,
 16.0,
 1.8809465340947686e-05,
 -7.0,
 13.0,
 1.044970296719316e-06,
 -9.0,
 23.0,
 2.089940593438632e-06,
 -13.0,
 15.0,
 7.314792077035211e-06,
 -15.0,
 13.0,
 1.044970296719316e-06,
 -13.0,
 14.0,
 4.179881186877264e-06,
 -7.0,
 15.0,
 3.1349108901579477e-06,
 -12.0,
 22.0,
 1.044970296719316e-06,
 -15.0,
 16.0,
 4.179881186877264e-06,
 -9.0,
 18.0,
 3.1349108901579477e-06,
 -15.0,
 15.0,
 4.179881186877264e-06,
 -12.0,
 21.0,
 1.044970296719316e-06,
 -13.0,
 20.0,
 1.044970296719316e-06,
 -15.0,
 18.0,
 1.044970296719316e-06,
 -13.0,
 19.0,
 3.1349108901579477e-06,
 -10.0,
 15.0,
 5.22485148359658e-06,
 -15.0,
 17.0,
 2.089940593438632e-06,
 -13.0,
 18.0,
 6.269821780315895e-06,
 -10.0,
 16.0,
 5.22485148359658e-06,
 -9.0,
 22.0,
 1.044970296719316e-06,
 -13.0,
 17.0,
 1.1494673263912474e-05,
 -15.0,
 14.0,
 2.089940593438632e-06,
 -9.0,
 20.0,
 1.044970296719316e-06,
 -15.0,
 19.0,
 0.0,
 -11.0,
 18.0,
 4.179881186877264e-06,
 -9.0,
 19.0,
 1.044970296719316e-06,
 -10.0,
 14.0,
 2.4034316824544265e-05,
 -9.0,
 17.0,
 4.179881186877264e-06,
 -11.0,
 17.0,
 5.22485148359658e-06,
 -10.0,
 19.0,
 1.044970296719316e-06,
 -11.0,
 20.0,
 1.044970296719316e-06,
 -10.0,
 20.0,
 1.044970296719316e-06,
 -12.0,
 14.0,
 1.044970296719316e-06,
 -11.0,
 19.0,
 2.089940593438632e-06,
 -10.0,
 17.0,
 4.179881186877264e-06,
 -12.0,
 15.0,
 5.22485148359658e-06,
 -11.0,
 14.0,
 1.044970296719316e-06,
 -10.0,
 18.0,
 3.1349108901579477e-06,
 -12.0,
 16.0,
 9.404732670473843e-06,
 -9.0,
 21.0,
 1.044970296719316e-06,
 -17.0,
 16.0,
 1.044970296719316e-06,
 -8.0,
 21.0,
 2.089940593438632e-06,
 -11.0,
 22.0,
 1.044970296719316e-06,
 -10.0,
 23.0,
 2.089940593438632e-06,
 -12.0,
 17.0,
 9.404732670473843e-06,
 -8.0,
 22.0,
 4.179881186877264e-06,
 -11.0,
 16.0,
 5.22485148359658e-06,
 -12.0,
 18.0,
 5.22485148359658e-06,
 -9.0,
 16.0,
 6.269821780315895e-06,
 -11.0,
 15.0,
 4.179881186877264e-06,
 -15.0,
 20.0,
 0.0,
 -10.0,
 21.0,
 1.044970296719316e-06,
 -12.0,
 19.0,
 5.22485148359658e-06,
 -10.0,
 22.0,
 1.044970296719316e-06,
 -12.0,
 20.0,
 1.044970296719316e-06,
 -14.0,
 19.0,
 1.044970296719316e-06,
 -16.0,
 17.0,
 2.089940593438632e-06,
 -14.0,
 20.0,
 1.044970296719316e-06,
 -8.0,
 19.0,
 3.1349108901579477e-06,
 -11.0,
 21.0,
 1.044970296719316e-06,
 -16.0,
 18.0,
 0.0,
 -14.0,
 17.0,
 8.359762373754528e-06,
 -8.0,
 20.0,
 2.089940593438632e-06,
 -14.0,
 18.0,
 6.269821780315895e-06,
 -9.0,
 15.0,
 4.179881186877264e-06,
 -40.0,
 -69.0,
 1.803290387356026e-05,
 -28.0,
 -58.0,
 0.0002704935581034039,
 -40.0,
 -65.0,
 0.0,
 -38.0,
 -58.0,
 5.409871162068078e-05,
 -26.0,
 -61.0,
 1.803290387356026e-05,
 -34.0,
 -59.0,
 9.016451936780132e-05,
 -38.0,
 -60.0,
 3.606580774712052e-05,
 -33.0,
 -65.0,
 3.606580774712052e-05,
 -30.0,
 -66.0,
 3.606580774712052e-05,
 -27.0,
 -54.0,
 0.00012623032711492184,
 -40.0,
 -68.0,
 3.606580774712052e-05,
 -28.0,
 -57.0,
 3.606580774712052e-05,
 -55.0,
 -66.0,
 0.0,
 -26.0,
 -60.0,
 1.803290387356026e-05,
 -38.0,
 -63.0,
 1.803290387356026e-05,
 -25.0,
 -64.0,
 7.213161549424104e-05,
 -29.0,
 -67.0,
 0.0,
 -39.0,
 -62.0,
 0.00014426323098848208,
 -55.0,
 -68.0,
 0.0,
 -27.0,
 -55.0,
 0.00014426323098848208,
 -41.0,
 -62.0,
 0.0,
 -24.0,
 -59.0,
 0.0,
 -28.0,
 -56.0,
 5.409871162068078e-05,
 -26.0,
 -63.0,
 1.803290387356026e-05,
 -38.0,
 -62.0,
 1.803290387356026e-05,
 -36.0,
 -61.0,
 5.409871162068078e-05,
 -30.0,
 -68.0,
 0.0,
 -39.0,
 -63.0,
 0.0,
 -48.0,
 -67.0,
 0.0,
 -25.0,
 -68.0,
 3.606580774712052e-05,
 -35.0,
 -70.0,
 0.00025246065422984367,
 -29.0,
 -58.0,
 5.409871162068078e-05,
 -26.0,
 -62.0,
 1.803290387356026e-05,
 -44.0,
 -65.0,
 3.606580774712052e-05,
 -43.0,
 -63.0,
 0.0,
 -33.0,
 -66.0,
 0.0,
 -36.0,
 -70.0,
 7.213161549424104e-05,
 -33.0,
 -59.0,
 5.409871162068078e-05,
 -50.0,
 -74.0,
 0.0,
 -38.0,
 -64.0,
 0.0,
 -35.0,
 -66.0,
 3.606580774712052e-05,
 -39.0,
 -61.0,
 9.016451936780132e-05,
 -32.0,
 -70.0,
 3.606580774712052e-05,
 -28.0,
 -64.0,
 0.00019836194260916288,
 -39.0,
 -70.0,
 0.0,
 -38.0,
 -67.0,
 1.803290387356026e-05,
 -27.0,
 -59.0,
 5.409871162068078e-05,
 -24.0,
 -63.0,
 3.606580774712052e-05,
 -26.0,
 -59.0,
 3.606580774712052e-05,
 -39.0,
 -71.0,
 5.409871162068078e-05,
 -34.0,
 -65.0,
 3.606580774712052e-05,
 -52.0,
 -70.0,
 1.803290387356026e-05,
 -37.0,
 -70.0,
 1.803290387356026e-05,
 -33.0,
 -67.0,
 1.803290387356026e-05,
 -32.0,
 -68.0,
 0.0002704935581034039,
 -24.0,
 -62.0,
 0.0,
 -37.0,
 -60.0,
 5.409871162068078e-05,
 -55.0,
 -67.0,
 1.803290387356026e-05,
 -26.0,
 -58.0,
 9.016451936780132e-05,
 -34.0,
 -64.0,
 7.213161549424104e-05,
 -25.0,
 -65.0,
 0.00034262517359764493,
 -29.0,
 -60.0,
 1.803290387356026e-05,
 -41.0,
 -63.0,
 1.803290387356026e-05,
 -24.0,
 -61.0,
 0.0,
 -37.0,
 -61.0,
 3.606580774712052e-05,
 -35.0,
 -62.0,
 5.409871162068078e-05,
 -39.0,
 -69.0,
 5.409871162068078e-05,
 -34.0,
 -67.0,
 1.803290387356026e-05,
 -36.0,
 -60.0,
 5.409871162068078e-05,
 -43.0,
 -64.0,
 1.803290387356026e-05,
 -29.0,
 -59.0,
 7.213161549424104e-05,
 -44.0,
 -64.0,
 1.803290387356026e-05,
 -34.0,
 -66.0,
 5.409871162068078e-05,
 -43.0,
 -65.0,
 1.803290387356026e-05,
 -42.0,
 -72.0,
 7.213161549424104e-05,
 -52.0,
 -69.0,
 1.803290387356026e-05,
 -36.0,
 -69.0,
 0.0,
 -44.0,
 -71.0,
 1.803290387356026e-05,
 -34.0,
 -61.0,
 0.00014426323098848208,
 -35.0,
 -67.0,
 1.803290387356026e-05,
 -47.0,
 -68.0,
 0.0,
 -37.0,
 -56.0,
 1.803290387356026e-05,
 -28.0,
 -59.0,
 0.00014426323098848208,
 -31.0,
 -70.0,
 3.606580774712052e-05,
 -54.0,
 -68.0,
 0.0,
 -29.0,
 -64.0,
 7.213161549424104e-05,
 -34.0,
 -60.0,
 0.000757381962689531,
 -23.0,
 -64.0,
 3.606580774712052e-05,
 -32.0,
 -63.0,
 9.016451936780132e-05,
 -28.0,
 -65.0,
 0.00018032903873560263,
 -24.0,
 -65.0,
 5.409871162068078e-05,
 -30.0,
 -58.0,
 3.606580774712052e-05,
 -28.0,
 -60.0,
 7.213161549424104e-05,
 -37.0,
 -57.0,
 3.606580774712052e-05,
 -35.0,
 -58.0,
 0.007231194453297666,
 -42.0,
 ...]

In [71]:
data = [{0: 1990, 1: flat_list}]
nah_nah = pd.DataFrame(data)
nah_nah.to_json('attacked.json')